{% extends 'base.html' %}

{% load static %}

{% block content %}

<div class="container-fluid">
  <main>
    <div class="position-relative overflow-hidden p-3 text-center bg-light">
      <div class="mx-auto">
        <h1><span class="badge bg-secondary">Airbnb Data Analysis</span></h1>
        <br>
        <img src="{% static 'home/belgian_cities.svg' %}" width=450>
        
        {% comment %} <button type="button" class="btn btn-primary">Button (to be updated)</button> {% endcomment %}
      </div>
    </div>
  </main>
</div>

{% endblock content %}