{% url 'home' as url_home %}
{% url 'country_details' as url_country_details %}
{% url 'about_us' as url_about_us %}

<header class="text-bg-dark">

  <div class="d-flex justify-content-center py-3">

    <ul class="nav">
      <li class="fs-4 ms-4">
        <a href="/" class="nav-link
                {% if request.path == url_home %}
                text-secondary">
          {% else %}
          text-white">
          {% endif %}
          Home
        </a>
      </li>
      <li class="fs-4 ms-4">
        <a href="#" class="nav-link
                {% if request.path == url_country_details %}
                text-secondary">
                {% else %}
                text-white">
                {% endif %}
                Country Details
        </a>
      </li>
      <li class="fs-4 ms-4">
        <a href="#" class="nav-link
            {% if request.path == url_about_us %}
                text-secondary">
                {% else %}
                text-white">
                {% endif %}
                About us
        </a>
      </li>
      <li class="fs-4 ms-4">
        <a href="https://github.com/zoltarzol/brief_airbnb" target="_blank" class="nav-link">GitHub Repository
        </a>
      </li>
    </ul>

  </div>

</header>